@media screen and (max-width: 1024px){
    .navbar__section::after {
        left: 381px;
        overflow: hidden;
    }


 
    .testimonial__area::after{
        left: 187px;
        overflow: hidden;

    }
    .hero-title, .title-blue {
        font-size: 34px;
    }
    .hero-title {
        margin: 60px 0 100px 0
    }
    .info__section {
        margin-bottom: 120px;
    }
    .custom-4 {
        padding: 12px;
    }
    .footer-privacy{
        padding: 62px 0 24px 0;
        text-align: start;
    }
   


}


@media screen and (max-width: 768px){
    .navbar__section::after {
        overflow: hidden;
    }
 
    .testimonial__area::after{
        overflow: hidden;

    }
    .nav-tabs{
        padding: 0;
    }
    .form-parent{
        margin-top: 50px;
    }
    .button-parent {
        flex-direction: column;
    }
    .experience__section::after{
        top: 320px;
    }
    
    


}

@media screen and (max-width: 425px){
    .navbar__section {
        margin-bottom: 50px;
    }
    .logo-name{
        display: none;
    }
    .hero__section {
        margin: 45px 0 0 0;
    }
    .hero-h2 {
        font-size: 35px;
        padding: 24px 0 32px 0;
    }
    .hero-title, .title-blue{
        font-size: 26px;
    }
    .btn-success, .custom{
        width: 100%;
    }
    .banner-parent{
        flex-direction: column;
        gap: 36px;
        align-items: start;
    }
    .question__area{
        padding: 36px 24px;
        margin-top: 80px;
    }
    .question-h2{
        font-size: 16px;
        font-weight: 500;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.64px;
    }
    .btn-success{
        font-size: 14px;
    }
    .custom-4 {
        padding: 8px 16px;
    }
  
    .accordion-item {
        margin-bottom: 8px;
        border-radius: 16px;
        border: none;
    }

    .accordion-item:first-of-type .accordion-button{
        background-color: #fff;
    }

    .accordion-body{
        padding: 0;
    }
    .accordion{
        --bs-accordion-bg: none;
        --bs-accordion-border-color: none;
    }
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom-right-radius: none;
        border-bottom-left-radius: none;
        border-radius: 16px;
        color: var(--neutros-dark, #121113);
        font-size: 20px;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -0.8px;
    }
    .accordion-item .accordion-button.collapsed{
        margin-bottom: 8px!important;
        border-radius: 16px;
        border-bottom-right-radius: none;
        border-bottom-left-radius: none;
        color: var(--neutros-dark, #121113);
        font-size: 20px;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -0.8px;

    }
    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: none;
        border-top-right-radius: none;
        border-radius: 16px;
        color: var(--neutros-dark, #121113);
        font-size: 20px;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -0.8px;


    }
    .form-parent {
        margin-top: 0px;
        margin-bottom: 8px
    }
    .common-content {
        font-size: 12px;
    }
    .common-h2 {
        font-size: 24px;
        padding-bottom: 24px
    }
    .card-parent{
        padding: 24px;
    }
    .card-child{
        flex-direction: column;
        gap: 8px;
    }
    .card-h3{
        font-size: 16px;
    }
    .experience__section::after{
        display: none;
    }
    .experience__section {
        margin-bottom: 80px;
    }
    .car__area{
        padding: 24px;
    }
    .car-h3{
        font-size: 24px;
    }
    .car-text{
        font-size: 16px;
    }
   
    .vid-parent{
        padding-bottom: 0;
    }

    .footer__area{
        flex-direction: column;
    }
    .footer-menu, .footer-menu-info a {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }
    .footer-menu {
        font-size: 16px;
        padding: 48px 0 32px 0;
        padding-left: 5px;
      
       
    }
    .footer-menu-info{
        font-size: 14px;
        padding-bottom: 32px;
        align-items: start;
        padding-left: 5px;
    }
    .button-parent{
        flex-direction: column;
        width: 100%;
        gap: 14px;
    }
    
    .btn-parent{
        padding-top: 0;
    }
    .form-parent{
        padding: 16px;
    }
    .custom-2 {
        padding: 10px 53px;
        /* margin: 32px 0 48px 0; */
        
    }
    .btn-success{
        font-size: 16px;
        text-align: left;

    }
    .info__banner__area{
        padding: 24px;
    }
    .footer__section{
        padding: 0;
    }
    .footer-privacy{
        font-size: 12px;
        padding: 24px 0 28px 0;
    }


    }
   


@media screen and (max-width: 375px){
    .hero-h2 {
        font-size: 32px;
        padding-bottom: 40px;
    }
    .btn-success{
        font-size: 16px;
    }
    .hero-title, .title-blue{
        font-size: 24px;
    }

}
